body {
    background-color: #808080;
  }
h1 {
    color: white;
    margin: 20px;
}
div {
    background-color: #fea500;
    height: 150px;
    width: 150px;
    margin: 10px;
    margin-left: 30px;
}